extends ../layout

block styles
  link(href='/styles/login.css', rel='stylesheet')


block body
  h1#main-title= __('Welcome')
  h2 Please sign in
  p
    a.btn.facebook-login(href='/auth/facebook') with Facebook
    | - or -
    a.btn.google-login(href='/auth/google') with Google+
