doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes')

    script(src='/bower/platform/platform.js')

    link(href='/bower/font-roboto/roboto.html', rel='import')
    link(href='/bower/core-header-panel/core-header-panel.html', rel='import')
    link(href='/bower/core-toolbar/core-toolbar.html', rel='import')
    link(href='/bower/paper-tabs/paper-tabs.html', rel='import')
    block components

    link(href='/styles/boiler.css', rel='stylesheet')
    block styles

  body
    core-header-panel
      core-toolbar
        include shared/toolbar

      block body
        //- main page content will go here

    script(src='/scripts/listener.js')
    block scripts
