link(rel='import', href='/bower/polymer/polymer.html')
link(rel='import', href='/components/post-service/post-service.html')
link(rel='import', href='/components/post-card/post-card.html')

polymer-element(name='post-list', attributes='show')
  template
    link(rel='stylesheet', href='post-list.css')

    post-service(id='service', posts='{{posts}}')

    div(layout, vertical, center)
      template(repeat='{{post in posts}}')
        post-card(favorite='{{post.favorite}}', on-favorite-tap='{{handleFavorite}}', hidden?='{{show == "favorites" && !post.favorite}}')
          img(src='{{post.avatar}}', width='70', height='70')
          h2 {{post.username}}
          p {{post.text}}

  script(src='post-list.js')
