link(rel='import', href='/bower/polymer/polymer.html')
link(rel='import', href='/bower/core-icon-button/core-icon-button.html')
link(rel='import', href='/bower/paper-icon-button/paper-icon-button.html')

polymer-element(name='post-card', attributes='z')
  template
    link(rel='stylesheet', href='post-card.css')
    paper-shadow(z='{{z || 1}}')

    div(class='card-header', layout, horizontal, center)
      content(select='img')
      content(select='h2')

    strong
      core-icon-button(id='favicon', icon='favorite', on-tap='{{favoriteTapped}}')

    content

  script(src='post-card.js')
