.field-header
  font-family 'Open Sans' Arial sans-serif
  font-size 20px
  color black
  border none
  background none
  appearance none
  border-radius 0
  padding 4px 20px

  &:hover
    box-shadow 0 0 4px 1px grey
    cursor pointer

  &:focus
    outline 0

x-card
x-graph
  margin 6px
